{{ if .Values.tls.certManager.enabled}}
{{ if hasKey .Values.tls.certManager.dns01 "route53"}}
apiVersion: v1
kind: Secret
metadata:
  name: aws-secret
  labels:
    app:  aws-secret
type: Opaque
data:
  AWS_SECRET_ACCESS_KEY: {{ .Values.tls.certManager.dns01.route53.secretAccessKey | b64enc }}
{{ end }}
{{ end }}