node_modules
.idea
.vscode
helm/science-toolkit*/values.yaml
helm/values-*.yaml
helm-chart-exported
gh-pages
!vscode/extensions/**
.certs
scripts/toolkit_images/**
jupyterlab-gpu-image/common-science-requirements/*
runner-image/common-science-requirements/*
vscode/common-science-requirements/*
