node_modules
.idea
.vscode
helm/science-toolkit*/values.yaml
helm/science-toolkit*/charts
helm/values-*.yaml
gh-pages
user-tools-operator/helm-charts/usertools/templates/statefulset.yaml
!vscode/extensions/**
.certs
scripts/toolkit_images/**
jupyterlab-gpu-image/common-science-requirements/*
runner-image/common-science-requirements/*
vscode/common-science-requirements/*
