stages:
  - semantic-release
  - publish
  - build
  - semantic-release-helm
  - deploy

include:
  - local: dashboard/.gitlab-ci.yml
  - local: jupyterlab-gpu-image/.gitlab-ci.yml
  - local: vscode/.gitlab-ci.yml
  - local: vscode-operator/.gitlab-ci.yml
  - local: gitea-oauth2-setup/.gitlab-ci.yml
  - local: mlflow/.gitlab-ci.yml
  - local: helm/.gitlab-ci.yml
  - local: docs-site/.gitlab-ci.yml
