<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

  <title>Science Toolkit</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  <script defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .is-full{
      display: inline-block;
    }
    .logo {
      margin-right: 1em;
    }
  </style>
</head>
<body>
<div id="app">
  <!-- Header -->
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-narrow">
            <figure class="image is-128x128" style="min-width: 128px;">
              <img src="/static/img/logo.png">
            </figure>
          </div>
          <div class="column">
            <h1 class="title is-1">Science Toolkit</h1>
            <h2 v-if="username" class="subtitle">Hello {{ username }}!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns is-mobile is-centered is-gapless">
      <div class="column is-half">
        <div class="columns is-multiline ">
          <!-- Services Row -->
          <div class="column is-full box">
            <div class="field">
              <label class="label title is-4 is-spaced">Services </label>
              <div class="field is-grouped is-grouped-multiline is-grouped-centered">
                <template v-for="service in services">
                  <p class="control">
                    <a v-if="!isDisabled(service.name)" :href="url(service.name)" >
                      <button class="button is-large" @click.prevent="open(url(service.name))" :disabled="isDisabled(service.name)">
                        <span class=" is-medium">
                          <figure class="logo image is-32x32">
                            <img :src="`/static/img/${service.name}.png`">
                          </figure>
                        </span>
                        <span> {{ service.label }}</span>
                      </button>
                    </a>
                    <button v-else class="button is-large" @click.prevent="open(url(service.name))" :disabled="isDisabled(service.name)">
                        <span class=" is-medium">
                          <figure class="logo image is-32x32">
                            <img :src="`/static/img/${service.name}.png`">
                          </figure>
                        </span>
                      <span> {{ service.label }}</span>
                    </button>

                  </p>
                </template>
              </div>
            </div>
          </div>

          <!-- VS Code Row -->
          <div class="column is-full box">

            <div class="field is-grouped is-horizontal">
              <label class="label title is-4 is-spaced ">
                <figure class="logo image is-32x32" style="float: left;">
                  <img :src="`/static/img/vscode.png`">
                </figure>
              </label>
              <div class="field has-addons title is-5">
                <p class="control" v-if="canStart">
                  <button class="button is-link"
                          v-bind:class="{'is-loading': userTools.isLoading}"
                          @click="startUserTools">Start</button>
                </p>
                <p class="control" v-if="canStop">
                  <button class="button is-danger" v-bind:class="{'is-loading': userTools.isLoading}" @click="stopUserTools">Stop</button>
                </p>
                <p class="control ">
                <span class="file-name label title  is-spaced">Server is
                    <span v-if="error" class="tag is-danger">error</span>
                    <span v-else-if="userTools.isRunning" class="tag is-success">running</span>
                    <span v-else class="tag is-light">stopped</span>
                </span>
                </p>
              </div>
            </div>
          </div>

          <!-- Errors Row -->
          <div v-if="error" class="column is-full notification is-danger">
            {{error}}
          </div>

        </div>
      </div>

    </div>
  </section>
</div>
<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>
