release-jupyterlab-gpu-image:
  stage: semantic-release
  image: node:10
  before_script:
    - npm install --prefix jupyterlab-gpu-image
  script:
    - cd jupyterlab-gpu-image && npx semantic-release -e semantic-release-monorepo
  only:
    changes:
      - jupyterlab-gpu-image/**/*
    refs:
      - master

publish_docker_image_jupyter:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  variables:
    IMAGE_PROJECT_NAME: "terminus7/jupyterlab-gpu"
    README_FILEPATH: "./jupyterlab-gpu-image/README.md"
  before_script:
    - apk add curl jq bash git coreutils --update
    - TAG=${CI_COMMIT_TAG#"jupyterlab-gpu-image-v"}
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - docker build -t $IMAGE_PROJECT_NAME:$TAG ./jupyterlab-gpu-image
    - docker tag $IMAGE_PROJECT_NAME:$TAG $IMAGE_PROJECT_NAME:latest
    - docker push $IMAGE_PROJECT_NAME:$TAG
    - docker push $IMAGE_PROJECT_NAME:latest
    - ./scripts/update-dockerhub-readme.sh
  after_script:
    - docker rmi $IMAGE_PROJECT_NAME:$TAG
  only:
    - /^jupyterlab-gpu-image-v\d*.\d*.\d*$/

release_operator_jupyterlab:
  stage: release-operator
  image: alpine:3.11.5
  variables:
    TAGS_VERSION: 1.0.0
    COMPONENT_TAGS_PROJECT_ID: "intelygenz/science-toolkit"
  script:
    - apk add curl jq bash gettext git coreutils --update
    - wget -q https://github.com/guumaster/monorepo-components-tags/releases/download/v${TAGS_VERSION}/monorepo-components-tags_${TAGS_VERSION}_linux_64-bit.tar.gz -O - | tar -xzO  monorepo-components-tags >  /usr/local/bin/monorepo-components-tags
    - chmod +x /usr/local/bin/monorepo-components-tags
    - /usr/local/bin/monorepo-components-tags --project $COMPONENT_TAGS_PROJECT_ID --commit $CI_COMMIT_SHA --export-shell --suffix TAG --provider GITHUB | tee -a /tmp/components_tags.sh
    - source /tmp/components_tags.sh
    - export TAG=$(./scripts/bump-version.sh user-tools-operator-v$USER_TOOLS_OPERATOR_TAG)
    - git tag $TAG && git push origin $TAG || true
  only:
    - /^jupyterlab-gpu-image-v\d*.\d*.\d*$/