apiVersion: v1
kind: Service
metadata:
  name: drone
  labels:
    app: drone
spec:
  clusterIP: None
  ports:
    # drone-secrets container
    - name: drone-secrets
      port: 3000
      targetPort: 3000
      protocol: TCP
    # drone-runner container
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: runner
      port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: drone
