apiVersion: v1
kind: Secret
metadata:
  name: drone-oauth2-secrets
type: Opaque
data:
  DEPLOYMENT_SECRET_NAME: {{ print "drone-oauth2-credentials" | b64enc }}
  GITEA_REDIRECT_URIS: {{ printf "%s://drone.%s/login" ( include "protocol" . ) .Values.domain | b64enc }}
  GITEA_APPLICATION_NAME: {{ print "drone" | b64enc }}
