apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: drone-runner
  name: drone-runner
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: drone-runner
rules:
- apiGroups: ["", "extensions", "apps"]
  resources: ["deployments", "replicasets", "pods", "pods/log", "secrets"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
    name: drone-runner-binding
subjects:
- kind: ServiceAccount
  name: drone-runner
  apiGroup: ""
roleRef:
  kind: Role
  name: drone-runner
  apiGroup: ""
