{{ if .Capabilities.APIVersions.Has "apps/v1" }}
apiVersion: apps/v1
{{ else if .Capabilities.APIVersions.Has "apps/v1beta1" }}
apiVersion: apps/v1beta1
{{ end }}
kind: StatefulSet
metadata:
  name: gitea
  labels:
    app:  gitea
spec:
  serviceName: "gitea"
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
      annotations:
        helm.sh/restart-deployment: {{ randAlphaNum 5 | quote }}
    spec:
      containers:
        - name: gitea
          image: {{ .Values.gitea.image.repository }}:{{ .Values.gitea.image.tag }}
          imagePullPolicy: {{ .Values.gitea.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: gitea-config
          lifecycle:
            postStart:
              exec:
                command:
                  - "/bin/su"
                  - "git"
                  - "-c"
                  - "/usr/local/bin/create-admin.sh"
          volumeMounts:
            - name: gitea-pvc
              mountPath: /data
            - name: gitea-init
              mountPath: /data/gitea/conf/app.ini
              subPath: app.ini
            - name: gitea-init
              mountPath: /usr/local/bin/create-admin.sh
              subPath: create-admin.sh
            {{- if .Values.kdl.local }}
            - mountPath: /etc/ssl/certs/mkcert-ca.pem
              name: mkcert-ca
              subPath: mkcert-ca.crt
            {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 60
      volumes:
        - name: gitea-init
          configMap:
            name: gitea-init
            defaultMode: 0777
        {{- if .Values.kdl.local }}
        - name: mkcert-ca
          secret:
            secretName: mkcert-ca
        {{- end }}
  volumeClaimTemplates:
    - metadata:
        name: gitea-pvc
        labels:
          app: gitea
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: {{ .Values.gitea.storage.storageClassName }}
        resources:
          requests:
            storage:  {{ .Values.gitea.storage.size }}