apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.mlflow.name }}-secret
  labels:
    app:  {{ .Values.mlflow.name }}-secret
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ .Values.minio.accessKey | b64enc }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.minio.secretKey | b64enc }}
