apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.mlflow.name }}
  labels:
    app: {{ .Values.mlflow.name }}
spec:
  clusterIP: None
  ports:
    - name: oauth-proxy
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: internal
      port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: {{ .Values.mlflow.name }}
