trivy-runner-image:
  extends: .trivy-template
  variables:
    IMAGE_PROJECT_NAME: "terminus7/runner-image"
    PROJECT_PATH: "runner-image"
  before_script:
    - ./scripts/clean_and_copy.sh common-science-requirements vscode
  artifacts:
    reports:
      container_scanning: gl-container-scanning-report-4.json
  only:
    refs:
      - master
    changes:
      - runner-image/**/*

release-runner-image:
  stage: semantic-release
  image: node:10
  before_script:
    - npm install --prefix runner-image
  script:
    - cd runner-image && npx semantic-release -e semantic-release-monorepo
  only:
    changes:
      - runner-image/**/*
    refs:
      - master

publish_docker_image_runner:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  variables:
    IMAGE_PROJECT_NAME: "terminus7/sci-toolkit-runner"
    README_FILEPATH: "./runner-image/README.md"
  before_script:
    - apk add curl jq bash git coreutils --update
    - TAG=${CI_COMMIT_TAG#"runner-image-v"}
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
  script:
    - ./scripts/clean_and_copy.sh common-science-requirements runner-image
    - docker build -t $IMAGE_PROJECT_NAME:$TAG ./runner-image
    - docker tag $IMAGE_PROJECT_NAME:$TAG $IMAGE_PROJECT_NAME:latest
    - docker push $IMAGE_PROJECT_NAME:$TAG
    - docker push $IMAGE_PROJECT_NAME:latest
    - ./scripts/update-dockerhub-readme.sh
  after_script:
    - docker rmi $IMAGE_PROJECT_NAME:$TAG
  only:
    - /^runner-image-v\d*.\d*.\d*$/
