{{- if .Values.argocd.enabled }}
apiVersion: apiextensions.k8s.io/v1
{{ else }}
{{ if .Capabilities.APIVersions.Has "apiextensions.k8s.io/v1/CustomResourceDefinition" }}
apiVersion: apiextensions.k8s.io/v1
{{ else if .Capabilities.APIVersions.Has "apiextensions.k8s.io/v1beta1/CustomResourceDefinition" }}
apiVersion: apiextensions.k8s.io/v1beta1
{{ end }}
{{- end }}
kind: CustomResourceDefinition
metadata:
  name: usertools.sci-toolkit.konstellation.io
spec:
  group: sci-toolkit.konstellation.io
  names:
    kind: UserTools
    listKind: UserToolsList
    plural: usertools
    singular: usertool
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
{{ if or (.Capabilities.APIVersions.Has "apiextensions.k8s.io/v1/CustomResourceDefinition") .Values.argocd.enabled }}
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              domain:
                description: domain name
                type: string
              kdl:
                type: object
                properties:
                  enabled:
                    description: if Science Toolkit is managed by KDL
                    type: boolean
              ingress:
                type: object
                properties:
                  type:
                    description: ingress type
                    type: string
              sharedVolume:
                type: object
                properties:
                  name:
                    description: name of shared volume
                    type: string
              storage:
                type: object
                properties:
                  className:
                    description: name of the storage class
                    type: string
                  size:
                    description: size of the storage
                    type: string
              tls:
                description: enable or disable tls
                type: boolean
              username:
                description: username to create tools
                type: string
              usernameSlug:
                description: username slug to create tools
                type: string
{{ end }}
