{{ if .Values.backup.gitea.enabled }}
apiVersion: extensions/v1beta1
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: backup-gitea
  labels:
    app: backup-gitea
spec:
  schedule: {{ .Values.backup.gitea.schedule | quote }}
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 5
  successfulJobsHistoryLimit: 2
  startingDeadlineSeconds: 60 # 1min
  jobTemplate:
    spec:
      backoffLimit: 3
      activeDeadlineSeconds: 60 # 1min
      template:
        spec:
          containers:
            - name: backup-gitea
              image: terminus7/toolkit-backup:latest
              imagePullPolicy: IfNotPresent
              envFrom:
                - configMapRef:
                    name: gitea-config
                - secretRef:
                    name: backup-secrets
              volumeMounts:
              - name: gitea-pvc
                mountPath: "/data"
              args:
                - /bin/sh
                - -c
                - >-
                  echo "postgres:5432:gitea:postgres:$DB_PASSWD" > ~/.pgpass && 
                  chmod 600 ~/.pgpass &&
                  mkdir backup_gitea_$(date +%Y%m%d) &&
                  tar zcvf backup_gitea_$(date +%Y%m%d)/data.tar.gz /data/ &&
                  pg_dump -h postgres -p 5432 -U postgres -d gitea -v -F c -f backup_gitea_$(date +%Y%m%d)/postgres_gitea.dump &&
                  tar zcvf backup_gitea_$(date +%Y%m%d).tar.gz backup_gitea_$(date +%Y%m%d) &&
                  /root/.local/bin/aws s3 cp backup_gitea_$(date +%Y%m%d).tar.gz s3://science-toolkit-gitea-backup/backup_gitea_$(date +%Y%m%d).tar.gz 

          {{- if .Values.imagePullSecrets }}
          imagePullSecrets:
          {{- range .Values.imagePullSecrets  }}
          - name: {{ . }}
          {{- end }}
          {{- end }}
          volumes:
            - name: gitea-pvc
              persistentVolumeClaim:
                claimName: gitea-pvc-gitea-0
          restartPolicy: OnFailure
{{- end }}
