apiVersion: v1
kind: Secret
metadata:
  name: backup-secrets
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ .Values.backup.s3.awsAccessKeyID| b64enc }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.backup.s3.awsSecretAccessKey | b64enc }}
  BUCKET_NAME: {{ .Values.backup.s3.bucketName | b64enc }}
